{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}

{% block extra_scripts %}
<script src="//apis.google.com/js/client:platform.js?onload=start"></script>

{% endblock %}

{% block title %}Login{% endblock %}

{% block content_title %}{% endblock %}

{% block page_content %}
<script>
function signInCallback(authResult) {
    if (authResult['code']) {
        //Hide the sign-in button now that user is authorized,
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            contentType: 'application/octet-stream; charset=utf-8',
            data: authResult['code'],
            success: function(result) {
                if (result) {
                    $('#result').html('Login Successful! Redirecting...')
                    setTimeout(function() {
                        window.location.href = "/index";
                    }, 5000);
                } else if (authResult['error']) {
                    console.log('There was an error:' + authResult['error']);
                } else {
                    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
            }         
        });
    }
}
</script>
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '213071912359270',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use version 2.5
    });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
        $.ajax({
        type: 'POST',
        url: '/fbconnect?state={{STATE}}',
        processData: false,
        data: access_token,
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
             setTimeout(function() {
              window.location.href = "/index";
             }, 4000);
              
          } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
             }
          }
      
        });
    });
  }
</script>
<br>
<div class="row">
    <div class="span12">
        <div class="clear-form two-col">
            <div class="form-heading">
                <h3 class="header">Sign In</h3>
                <hr />
            </div>
            <div class="col1">                            
                <h4>Use other accounts</h4>
                <p>You can also sign in using your Facebook Account or Google Account</p>
                <br />
                <br />
                <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
                    <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
                </fb:login-button>

                <br />
                <div id="signInButton">
                    <span class="g-signin"
                        data-scope="openid email"
                        data-clientid="284847133003-0ufiah43ree2v9mhnbmolp69jp67mv0d.apps.googleusercontent.com"
                        data-redirecturi="postmessage"
                        data-accesstype="offline"
                        data-cookiepolicy="single_host_origin"
                        data-callback="signInCallback"
                        data-approvalprompt="force">
                    </span>
                </div>
                <!--
                <a href="" class="btn btn-large btn-block btn-google">Login with Google</a>
                -->
            </div>
            <div class="col2">
                <div class="form-heading">
                    <h4 class="header">Using your account</h4>                                                        
                </div>  
                <div class="form-body">
                    <div class="pair-group">
                        <form action="{{ url_for('user_blueprint.login', next=request.args.get('next','')) }}" id="result" method="post">
                            {{ form_field(form.email) }}
                            {{ form_field(form.password) }}
                            <div class="form-footer">     
                                <button class="btn btn-large btn-green btn-block" type="submit">Sign In</button> 
                                <p class="center">Not yet a member? <a href="/index">Sign up now</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>                                  
        </div>
    </div>
</div>
{% endblock %}



