{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}

{% block extra_scripts %}
<script src="//apis.google.com/js/client:platform.js?onload=start"></script>

{% endblock %}

{% block title %}Login{% endblock %}

{% block content_title %}{% endblock %}

{% block page_content %}

<br>
<div class="row">
    <div class="span12">
        <div class="clear-form two-col">
            <div class="form-heading">
                <h3 class="header">Sign In</h3>
                <hr />
            </div>
            <div class="col1">                            
                <h4>Use other accounts</h4>
                <p>You can also sign in using your Facebook Account or Google Account</p>
                <br />
                <br />
                <div id="fb-login">
                    <p><a href="{{ url_for('user_blueprint.oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>
                </div>
                <div id="g-login">
                    <p><a href="{{ url_for('user_blueprint.oauth_authorize', provider='google') }}">Login with Google</a></p>
                </div>
                <br />
            </div>
            <div class="col2">
                <div class="form-heading">
                    <h4 class="header">Using your account</h4>                                                        
                </div>  
                <div class="form-body">
                    <div class="pair-group">
                        <form action="{{ url_for('user_blueprint.login', next=request.args.get('next','')) }}" id="result" method="post">
                            {{ form_field(form.email) }}
                            {{ form_field(form.password) }}
                            <div class="form-footer">     
                                <button class="btn btn-large btn-green btn-block" type="submit">Sign In</button> 
                                <p class="center">Not yet a member? <a href="/index">Sign up now</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>                                  
        </div>
    </div>
</div>
{% endblock %}



