 {% extends "base.html" %}
 {% block extra_styles %}
<style>
	body {
		background: #F8F8F8;
	}
</style>
{% endblock %}


{% block title %}Login{% endblock %}

{% block page_content %}

<div id="single">
  <div class="container">
    <div class="error">
		<h3>Protected page</h1>
		<p>If you see this page that means your account has been confirm.</p>
		<p>You are logged in as<a href="{{ url_for('user_blueprint.user', email=current_user.email) }}"> {{ current_user.name }}</a>.</p>
    </div>
  </div>
</div>
{% endblock %}